<section class="detail-container">
  <a class="button button__orange button__back" href="javascript:javascript:history.go(-1)"><img src="../img/back.svg" alt="">Back</a>
  <div class="detail-container__center">
    <div class="detail-container__photo">
        <img src="https://image.tmdb.org/t/p/w500{{ detailData.poster_path }}" alt="">
    </div>
    <div class="detail-container__info-block">
      <h1>{{detailData.title}}</h1>
      <p>Summary: <br />{{detailData.overview}}</p>
      <p>{{detailData.tagline}}</p>
      <div class="detail-container__companys">
        {{#each detailData.production_companies }}
          <div class="">
            <img class="detail-container__company-logo" src="https://image.tmdb.org/t/p/w500{{this.logo_path}}" alt="">
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
