<section class="question-container">
  <div class="question-container__center">
    <p>{{ currentQuestionData.tag }}</p>
    <h1> {{ currentQuestionData.question }} </h1>
    <form method="post" action="/question/{{nextQuestion}}">
      <div class="question-container__answers ">
        {{# each currentQuestionData.answers }}
          <input type="radio" name="ingr" id="{{this}}" value="{{this}}" required><br>
          <label for="{{this}}" class="{{this}}">{{this}}</label>
        {{/each}}
      </div>
      <button class="button button__orange" type="submit" name="button">Next</button>
    </form>
  </div>
</section>
